body,html{
	height: 100%;

}
body{
	margin-top: -20px;
}
.parallax1{
	background-image: url("food1.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	
}

#parallax2{
	background-image: url("food2.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin-top:-20px;
}
.parallax3{
	background-image: url("contact.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	margin: -20px;

}
/*.parallax4{
	background-image: url("food4.jpg");
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover
}*/
.head{
	text-align: center;
	color: white;
	font-family: Roboto;
}

ul{
	list-style-type: none;

}
li{
	display: inline;
	float: left;
	padding: 5px;
	text-align: center;
}
a:link{
	text-decoration: none;
	color: white;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	
}
a:active{
	text-decoration: none;
	color: white;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin: 0;
	
}
a:visited{
	text-decoration: none;
	color: white;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 10px;
	margin: 0;
	
}
a:hover{
	text-decoration: none;
	color: white;
    border: 1px solid white;
    border-radius: 8px;
	/*background-color: white;*/
	margin: 0;	
}
.nav{
	margin-left: 450px;
	margin-top: 120px;
}
#contact{
	font-size: 20px;
	color: black;
}


